@import "ClientApp/Client.scss";

.terminal-line {
  top: 4px;
}

.header-text {
  font-size: 7rem;
}
.header-chevron{
  font-size:6em;
}
.header-typewriter-dash{
  font-size:4em;
}

a {
  color: $coding-green-color !important;

  &:hover {
    color: $coding-green-color-hover !important;
  }
}

.blink {
  animation: blink-animation 1.5s steps(2, start) infinite;
  -webkit-animation: blink-animation 1.5s steps(2, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@media (max-width: $breakpoint-lg) {
  .header-text{
    font-size: 3em;
  }
  .header-chevron{
    font-size:2.5em;
  }
  .header-typewriter-dash{
    font-size:1.5em;
  }
}

@media (max-width: $breakpoint-sm) {
  .header-text{
    font-size: 2.6em;
    border-bottom: 1px solid $coding-green-color;
  }
  .header-chevron{
    display: none;
  }
  .header-typewriter-dash{
    display: none;
  }
  
  span{
    font-size: 0.75em;
  }
}