@import "../home/Home";

.header-text-sm {
  color:$coding-green-color;
  font-size: 3rem;
  font-family: PressStart2P,IBMPlexMono, serif !important;
  text-align: center;

  border-bottom: 1px solid $coding-green-color;
}

.advent-container{
  @extend .container;
  color:$coding-green-color;
  
  a:not(.btn){
    color:$coding-green-color;
    &:hover{
      color:$coding-green-color-hover;
    }
  }
}

.advent-index {
  font-size: 1.5rem;
}
.bingo-board{
  border:1px solid $coding-green-color;
}

.earned-star{
  position: absolute;
  top:2px;
  right:2px;
  font-size: 0.8rem;
}
.code{
  padding:1rem;
  border: 2px dashed $coding-green-color;
}
.white-space-pre-line{
  white-space: pre-line;
}
.data-box {
  color:$coding-green-color;
  padding: 15px;
  border: 1px dashed $coding-green-color;
  max-height: 150px;
  overflow-y: auto;
  
  &.data-box-lg{
    max-height: 400px;
  }
}
