@import "App";

.route-not-found-container {
  @extend .container;
  color: $coding-green-color;
}

.four-oh-four-text {
  font-size: 7em;
  font-family: PressStart2P, IBMPlexMono, serif !important;
}
