@import "ClientApp/Client.scss";

.portfolio-inner-collapse {
  border-left: 2px solid $coding-green-color;
  padding-left:3em;
}
.portfolio-item-block {
  color:$coding-green-color;
  
  &.hidden-skill{
    opacity: 0.5;
  }
}
.portfolio-description-block{
  max-width: 500px;
}

.portfolio-img-sneaky{
  border:2px solid $coding-green-color;
  opacity: 0.7;
}

.portfolio-skill-list{
  color:$coding-green-color;
  overflow-y:auto;
  .portfolio-skill{
    display: flex;
    align-items: center;
    justify-content: center;
    
    small{
      font-size: 0.7rem;
    }
    
  }
  
  .skill-icon {
    display: flex;
    align-items: center;
    font-size: 2.9rem;
    cursor: pointer;
    &:hover{
      color:$coding-green-color-hover;
    }
    &.skill-selected{
      color:$coding-red-color;
      &:hover{
        color:$coding-red-color-hover;
      }
    }
    &.skill-text{
      font-size: 2rem;
    }
  }
}


@media (max-width: $breakpoint-lg) {
  .portfolio-item-block{
    min-width: 200px;
  }
}
@media (max-width: $breakpoint-sm) {
  .portfolio-skill-list {
    .portfolio-skill{
      small{
        font-size: 0.6rem;
      }

    }
    .skill-icon {
      font-size: 2.15rem;

      &.skill-text{
        font-size: 2rem;
      }
    }
  }
}