@import "ClientApp/Client.scss";

.portfolio-inner-collapse {
  border-left: 2px solid $coding-green-color;
  padding-left:3em;
}
.portfolio-item-block {
  color:$coding-green-color;
}
.portfolio-description-block{
  max-width: 500px;
}

.portfolio-img-sneaky{
  border:2px solid $coding-green-color;
  opacity: 0.7;
}

.portfolio-skill-list{
  color:$coding-green-color;
  .portfolio-skill{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:1rem;
  }
  
  .skill-icon {
    font-size: 6rem;
    cursor: pointer;
    &:hover{
      color:$coding-green-color-hover;
    }
  }
}


@media (max-width: $breakpoint-lg) {
  .portfolio-item-block{
    min-width: 200px;
  }
}